/* Fonts */
/* Source Sans Pro SemiBold 600 */
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"),
    url(./fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf) format("truetype");
  font-weight: 600;
}
/* Source Sans Pro Slim 400 */
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"),
    url(./fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf) format("truetype");
  font-weight: 400;
}
/* Montserrat SemiBold 600 */
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(./fonts/Montserrat/static/Montserrat-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

/* Layouting */
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-sourcesanspro: "Source Sans Pro", sans-serif;
  --clr-primary: #6a1cc3;
  --clr-primary-inactive: #6a1cc326;
  --clr-secondary: #8849cf;
  --clr-surface: #fbfbfb;
  --clr-text: rgba(0, 0, 0, 87%);
}
body {
  margin: 0 auto;
  max-width: 100vw;
  background: var(--clr-surface);
}
main {
  min-height: calc(100vh - 145px);
  margin-top: 36px;
  padding: 0 32px;
}
.list-item + button {
  margin-top: 60px;
}
.page-header {
  height: 109px;
}
#select-option + header {
  margin-top: 60px;
}

/* Flex & Grid */
.flex-container--headline {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.flex-container--question {
  align-items: center;
  display: flex;
  height: 25vh;
  justify-content: center;
}
.checklists {
  align-items: center;
  display: flex;
  gap: 36px;
}
.grid-container {
  align-items: center;
  display: grid;
  grid-template-columns: min-content auto;
  gap: 36px;
}
.grid-container--headline {
  display: grid;
  grid-template-areas:
    "heading heading"
    "description number";
  width: max-content;
}
.grid-container--headline h2 {
  grid-area: heading;
}
.grid-area--description {
  grid-area: description;
}
.grid-area--number {
  grid-area: number;
  margin-top: 0;
  text-align: right;
}

/* Text elements */
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: var(--clr-text);
}
h1 {
  align-items: center;
  background-color: var(--clr-primary);
  display: flex;
  height: 95px;
  justify-content: center;
}
h2 {
  color: var(--clr-primary);
  font-family: var(--font-montserrat);
  font-size: 18px;
  text-transform: uppercase;
}
h2 ~ p {
  font-family: var(--font-montserrat);
  font-size: 14px;
}
h3,
h3 ~ p {
  font-family: var(--font-montserrat);
  font-size: 16px;
}
p + p {
  margin-top: 8px;
}
.flex-container--description p {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 14px;
  margin-top: 0;
}
.question {
  font-family: var(--font-sourcesanspro);
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

/* Buttons */
button {
  background-color: var(--clr-surface);
  border: 1.75px solid var(--clr-primary);
  border-radius: 2px;
  box-shadow: 3.5px 3.5px 0 var(--clr-primary);
  color: var(--clr-primary);
  cursor: pointer;
  font-family: var(--font-sourcesanspro);
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 8px 10px;
  right: 50vw;
  transform: translateX(50%);
  width: 50%;
}
button:hover {
  background-color: var(--clr-primary);
  box-shadow: none;
  color: var(--clr-surface);
}

/* Checkboxes */
.checkbox {
  all: unset;
  background-color: var(--clr-surface);
  border: 1.75px solid var(--clr-primary);
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  height: 27px;
  margin-left: 20px;
  position: relative;
  width: 27px;
  z-index: -1;
}
.checkbox:checked::after {
  content: "\2713";
  color: var(--clr-primary);
  height: 50%;
  position: absolute;
  transform: translate(50%, 25%);
  width: 50%;
}

/* List elements */

.list-item--checklist {
  border-bottom: 1px solid var(--clr-text);
  padding: 16px 0;
}
.list-item li + li {
  margin-top: 12px;
}
.list-item--question li {
  border-bottom: 1px solid var(--clr-text);
  font-family: var(--font-sourcesanspro);
  font-size: 16px;
  font-weight: 600;
  padding: 15px 40px 15px 32px;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Menus */
.hamburger-menu-wrapper {
  height: 81px;
  z-index: 1;
}
.hamburger-menu {
  position: absolute;
  top: 2em;
  left: 1.5em;
}
.hamburger-menu__icon {
  display: block;
  width: 2.5em;
  height: 0.25em;
  background: var(--clr-surface);
  border-radius: 3px;
  transform-origin: 0 0.5em 0;
  transition: transform 0.5s cubic-bezier(0.77, 0.2 0.05, 1),
    background 0.5 cubic-bezier(0.77, 0.2 0.05, 1), opacity 0.55s ease;
}
.hamburger-menu__icon + .hamburger-menu__icon {
  margin-top: 0.5em;
}
.clicked:first-child {
  transform: rotate(45deg) translate(-2px, -1px);
  transform-origin: 0 0;
}
.clicked:nth-last-child(2) {
  opacity: 0;
}
.clicked:last-child {
  transform: rotate(-45deg) translate(-2px, -1px);
  transform-origin: 0 100%;
}

.hamburger-menu-wrapper {
  position: relative;
}
.nav {
  font-family: var(--font-montserrat);
  font-size: 16px;
  text-transform: uppercase;
  color: var(--clr-surface);
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  _position: relative;
}
.nav__list {
  background: var(--clr-secondary);
  margin: 0;
  padding-left: 0;
  padding-top: 4em;
  list-style-type: none;
  height: 207px;
}
.nav__item {
  vertical-align: baseline;
}
.nav__item + .nav__item {
  margin-top: 2em;
}
.hidden {
  transform: translateY(-181px);
  z-index: 0;
}
.active {
  transform: translateY(0);
}
.menu__triangle {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}
.menu__triangle--primary {
  border-top: 14px solid var(--clr-primary);
}
.menu__triangle--secondary {
  border-top: 14px solid var(--clr-secondary);
}
nav a {
  border-bottom: 3px solid var(--clr-surface);
  text-decoration: none;
  padding: 1em;
}
nav a.router-link-exact-active {
  background-color: var(--clr-primary);
}

/* Style classes */
.text--big {
  font-size: 18px;
}
.text--centered {
  text-align: center;
}
.text--extraslim {
  font-family: var(--font-sourcesanspro);
  font-weight: 400;
}
.text--extrasmall {
  font-size: 12px;
}
.text--large {
  font-size: 24px;
}
.text--light-colored {
  color: var(--clr-surface);
}
.text--montserrat {
  font-family: var(--font-montserrat);
}
.text--primary-colored {
  color: var(--clr-primary);
}
.text--regular {
  font-size: 16px;
}
.text--semibold {
  font-weight: 600;
}
.text--slim {
  font-weight: 500;
}
.text--small {
  font-size: 14px;
}
.text--sourcesanspro {
  font-family: var(--font-sourcesanspro);
}
.text--uppercase {
  text-transform: uppercase;
}

/* Responsive */
@media screen and (min-width: 992px) {
  #app {
    _display: flex;
  }
  .page-header {
    _width: 20vw;
  }
}
